# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
*.egg-info/
.installed.cfg
*.egg

# Databases
*.db
*.sqlite3

# Uploads
uploads/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
